<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myE&T</title>

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
    <div id="headerdate">
      <% var day = moment();%>
      <h4>
      <span class='logo'>MyE&T</span>, 
      <%if (currentUser) {%>
        Hi <%=currentUser.name%>.
      <%}%> 
        Today is <%= moment().format('dddd')%>, <%=moment().format('ll')%> (Week <%=moment().week()%>)
      </h4>

    </div>

    <nav>
      <h4>
      <a href="/">Home</a> |
      <%if (currentUser) { %>
        <a href="/dailytasks">Today</a> | 
        <a href="/summaries">Summaries</a> | 
        <a href="/profile">Profile</a> |
        <a href="/auth/logout">Logout</a>
      <%} else {%>
        <a href="/auth/signup">Signup</a> |
        <a href="/auth/login">Login</a>
      <%}%>
      </h4>
    </nav>
    </header>

    <div class="container">
      <% JSON.stringify(currentUser) %>
      <% include partials/alerts %>
      
      <main>
        <%- body %>
      </main>
  </body>
</html>
