<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myE&T</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
    <div id="headerdate">
      <% var day = moment();%>
      <h4>
      MyE&T, <%if (currentUser) {%>
        Hi <%=currentUser.name%>,
      <%}%> 
        Week <%=moment().week()%>, <%= moment().format('dddd')%>, <%=moment().format('ll')%>
      </h4>

    </div>

    <nav>
      <h4>
      <a href="/">Home</a> |
      <%if (currentUser) { %>
        <a href="/auth/logout">Logout</a> |
        <a href="/profile">Profile</a>
      <%} else {%>
        <a href="/auth/signup">Signup</a> |
        <a href="/auth/login">Login</a>
      <%}%>
      </h4>
    </nav>
    </header>

    <div class="container">
      <% JSON.stringify(currentUser) %>
      <% include partials/alerts %>
      
      <main>
        <%- body %>
      </main>
      <div class="tablinkcontainer">
        <div class="tablink">
          <a href="/dailytasks">Today</a>
        </div>
        <div class="tablink">
          <a href="/summaries">Summaries</a>
        </div>
      </div>
    </div>


    <div id="hiddenfooter">
    </div>
    <footer>
      <div id="copyright">
      </div>
    </footer>

  </body>
</html>
