<h3>Edit: <%=task.summary%> </h3>

<form action="/dailytasks/<%=task.id%>/?_method=DELETE" method="POST">
  <input type="text" hidden name='date' value='<%=moment(task.start).format('YYYY-MM-DD')%>'>
  <input type="submit" value="Delete">
</form>

<a href="/dailytasks/date?date=<%=moment(task.start).format('YYYY-MM-DD')%>">&larr; Back</a>


<form action="/dailytasks/<%=task.id%>/?_method=PUT" method="POST">
  Summary: <br>
  <input required type="text" name='summary' value='<%=task.summary%>' ><br><br>

  Type: <br>
  <input type="text" name='type' value='<%=task.type%>'><br><br>

  Efficiency: <br>
  <select name="efficiency" id="" value='<%=task.efficiency%>'>
    <%for (let i = 0; i <=5; i++) {%>
      <%if (i == task.efficiency){%>
        <option value="<%=i%>" selected><%=i%></option>
      <%} else {%>
        <option value="<%=i%>"><%=i%></option>
      <%}%>
      
    <%}%>  
    
  </select><br><br>


  Start: <br>
  <input required type="date" name="startdate" id="" value="<%=moment(task.start).format('YYYY-MM-DD')%>"><br>
  <input type="time" name="starttime" id="" step='60' value="<%=moment(task.start).format('HH:mm')%>"><br><br>

  End: <br>
  <input required type="date" name="enddate" id="" value="<%=moment(task.end).format('YYYY-MM-DD')%>"><br>
  <input type="time" name="endtime" id="" step='60' value="<%=moment(task.end).format('HH:mm')%>"><br><br>

  Description: <br>
  <textarea name="description" id="" cols="30" rows="10" placeholder = 'Task Details'><%=task.description%></textarea><br><br>

  Notes: <br>
  <textarea name="notes" id="" cols="30" rows="10"><%=task.notes%></textarea><br><br>

  <input type="submit" value="Submit">

</form>